/*Main CSS*/

.mainLogoImg{
	width:100px;
	margin-right: 100px;
}

.bgImgDiv{
	background: url('../img/headerPhoto.jpg') no-repeat;
    background-size: 100%;
}
.jumbotron{
	background: url('../img/darkMetal.jpg');
    background-size: 100%;
    color:white;

}
